@{
    ViewData["Title"] = "Shri Foods";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Shri Foods</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <img src="~/img/HomeScreenWelcome.png" alt="Alternate Text" />
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <img src="~/img/ShriSuchi_MultigrainAtta.png" alt="Alternate Text" />
    </div>
</div>