@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <h2>Join Us</h2>
    </divclass>
        <div class="row">
        <h2>1) Sales Assistant/Customer Assistant </h2>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeGJG_EPjsSR7Zz0UUwWI0mRajCoJkRWNATIW1Ee02bUwIYVA/viewform?embedded=true" width="640" height="1241" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </divclass>
    <br />
    <br />
        </divclass>
        <div class="row">
        <h2>2) Packaging/Delivery Worker </h2>
       <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd1ryS5mg5zOF1gllGLF3Zq9RJ3VL0Fj-5JyuU0fIF-O_TOeA/viewform?embedded=true" width="640" height="1115" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </divclass>
</div>