@page
@model ShriFoodsProj.Views.Home.ProductsModel
@{
}
<div>
    <div>
        <h2>Our Products </h2>
        <div class="container-fluid">

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Multigrain_Atta-Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/Multigrain_Atta_product.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Multi Grain Atta </h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Multi grain atta
                            </p>
                            <p class="card-text">
                                Ingredients: Wheat, Jowar, Ragi millets,  Pearl millets(Bajra), Soybeans.
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure 5 Grain fine Atta </p>
                            <p class="card-text">100% Quality Raw Materials used</p>


                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹75 </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Wheatgrain_Atta-Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/Wheatgrain_Atta_product.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Wheat Grain Atta</h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Wheat grain atta
                            </p>
                            <p class="card-text">Ingredients: Wheat (Sharbathi).</p>
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure Wheat Grain fine Atta </p>
                            <p class="card-text">100% Quality Raw Material used</p>


                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹50 </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">More New products </h5>
                            <p class="card-text">Coming soon.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Quality Matters </small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>