@page
@model ShriFoodsProj.Views.Home.ProductsModel
@{
}
<div>
    <div>
        <h2>Our Products </h2>
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Multigrain_Atta-Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/Multigrain_Atta_product.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Multi Grain Atta </h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Multi grain atta
                            </p>
                            <p class="card-text">
                                Ingredients: Wheat, Jowar, Ragi millets,  Pearl millets(Bajra), Soybeans.
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure 5 Grain fine Atta </p>
                            <p class="card-text">Multi-grain atta with Wheat, Jowar, Ragi, Bajra, and Soybeans is a highly nutritious flour blend, offering high fiber, protein, vitamins, and minerals, promoting better digestion, blood sugar control, and sustained energy, making soft rotis and other dishes</p>
                            <p class="card-text">100% Quality Raw Materials used</p>

                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹75 </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Wheatgrain_Atta-Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/Wheatgrain_Atta_product.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Wheat Grain Atta</h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Wheat grain atta
                            </p>
                            <p class="card-text">Ingredients: Wheat (Sharbathi).</p>
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure Wheat Grain fine Atta </p>
                            <p class="card-text">100% Quality Raw Material used</p>


                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹50 </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Ricegrain_Atta-Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/ricegrain_atta_product.jpg" class="card-img-top" alt="..." />
                        <br />
                        <div class="card-body">
                            <h5 class="card-title">Rice Grain Atta</h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Rice grain atta
                            </p>
                            <p class="card-text">Ingredients: Rice.</p>
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure Rice Grain fine Atta </p>
                            <p class="card-text">100% Quality Raw Material used</p>
                            <p class="card-text">Widely used for cooking, baking, thickening, and binding across various cuisines</p>
                            <p class="card-text"><u>Available Qty</u></p>
                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">Quantity : 1/2Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹50 </h5>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Ragigrain_Atta_Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/Ragigrain_Atta_product_half_kg.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Ragi Grain Atta (Whole Ragi flour)</h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Ragi grain atta
                            </p>
                            <p class="card-text">
                                Ingredients: Ragi millets.
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure 5 Grain fine Atta </p>
                            <p class="card-text">Highly nutritious, naturally gluten-free flour from an ancient grain, rich in calcium, fiber, protein, and iron, ideal for rotis, dosas, porridges, and healthy baking, supporting bone health, digestion, and stable energy</p>
                            <p class="card-text">
                                Good for bone health, digestive health, and blood sugar management.
                                It is rich in calcium, fiber, and has a low glycemic index.
                            </p>
                            <p class="card-text">100% Quality Raw Materials used</p>

                            <p class="card-text"><u>Available Qty</u></p>
                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">Quantity : 1/2Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹80 </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">More products on the way</h5>
                            <p class="card-text">
                                Stay tuned
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">More products on the way</h5>
                            <p class="card-text">
                                Stay tuned
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />

        </div>
    </div>
</div>