@page
@model ShriFoodsProj.Views.Home.ProductsModel
@{
}
<div>
    <div>
        <h2>Our Products </h2>
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Multigrain_Atta-Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/Multigrain_Atta_product.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Multi Grain Atta </h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Multi grain atta
                            </p>
                            <p class="card-text">
                                Ingredients: Wheat, Jowar, Ragi millets,  Pearl millets(Bajra), Soybeans.
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure 5 Grain fine Atta </p>
                            <p class="card-text">Multi-grain atta with Wheat, Jowar, Ragi, Bajra, and Soybeans is a highly nutritious flour blend, offering high fiber, protein, vitamins, and minerals, promoting better digestion, blood sugar control, and sustained energy, making soft rotis and other dishes</p>
                            <p class="card-text">100% Quality Raw Materials used</p>

                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹75 </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Wheatgrain_Atta-Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/Wheatgrain_Atta_product.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Wheat Grain Atta</h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Wheat grain atta
                            </p>
                            <p class="card-text">Ingredients: Wheat (Sharbathi).</p>
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure Wheat Grain fine Atta </p>
                            <p class="card-text">100% Quality Raw Material used</p>


                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹50 </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Ricegrain_Atta-Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/ricegrain_atta_product.jpg" class="card-img-top" alt="..." />
                        <br />
                        <div class="card-body">
                            <h5 class="card-title">Rice Grain Atta</h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Rice grain atta
                            </p>
                            <p class="card-text">Ingredients: Rice.</p>
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure Rice Grain fine Atta </p>
                            <p class="card-text">100% Quality Raw Material used</p>
                            <p class="card-text">Widely used for cooking, baking, thickening, and binding across various cuisines</p>
                            <p class="card-text"><u>Available Qty</u></p>
                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">Quantity : 1/2Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹50 </h5>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Ragigrain_Atta_Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/Ragigrain_Atta_product_half_kg.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Ragi Grain Atta (Whole Ragi flour)</h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Ragi grain atta
                            </p>
                            <p class="card-text">
                                Ingredients: Ragi millets.
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy, Pure and Fine Ragi Atta </p>
                            <p class="card-text">Highly nutritious, naturally gluten-free flour from an ancient grain, rich in calcium, fiber, protein, and iron, ideal for rotis, dosas, porridges, and healthy baking, supporting bone health, digestion, and stable energy</p>
                            <p class="card-text">
                                Good for bone health, digestive health, and blood sugar management.
                                It is rich in calcium, fiber, and has a low glycemic index.
                            </p>
                            <p class="card-text">100% Quality Raw Materials used</p>

                            <p class="card-text"><u>Available Qty</u></p>
                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">Quantity : 1/2Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹80 </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Jowargrain_Atta_Label.png" class="card-img-top" alt="...">
                        <img src="~/img/products/Jowargrain_Atta_product.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jowar Grain Atta </h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Multi grain atta
                            </p>
                            <p class="card-text">
                                Ingredients: Jowar.
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Healthy and Pure Jowar fine Atta </p>
                            <p class="card-text">Jowar-grain atta is a highly nutritious, gluten-free flour made from jowar grains, rich in fiber, protein, iron, calcium, and antioxidants</p>
                            <p class="card-text">To make flatbreads and can also be incorporated into various baked goods and meals.</p>
                            <p class="card-text">100% Quality Raw Materials used</p>

                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹80 </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Labels/Maida_Atta_Label.png" class="card-img-top" alt="...">
                        <img src="~/img/Products/Maida_Atta_product_half_kg.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Maida Atta (Whole White flour)</h5>
                            <p class="card-text">
                                Try our home made, pure and fresh Maida atta
                            </p>
                            <p class="card-text">
                                Ingredients: Wheat.
                            </p>
                            <p class="card-text">0% Added Sugar</p>
                            <p class="card-text">Pure Maida fine Atta </p>
                            <p class="card-text">
                                Maida is a finely milled, refined flour made from the starchy endosperm of wheat grains, with the bran (fiber) and germ (nutrients) completely removed during processing, then often bleached to achieve its pure white color.</p>
                            <p class="card-text">Used for making flat breads such as naan, tandoori roti, pizza crust, noodles, bhatoori (a fluffy, deep fried, leavened bread), cakes, biscuits and many other pastries</p>
                           
                            <p class="card-text">100% Quality Raw Materials used</p>

                            <p class="card-text"><u>Available Qty</u></p>
                            <p class="card-text">Quantity : 1Kg </p>
                            <p class="card-text">Quantity : 1/2Kg </p>
                            <p class="card-text">For orders, Please Contact: 8374499001</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">Price (MRP) : ₹60 </h5>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />

        </div>
    </div>
</div>